.card .title {
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.headings {
    font-weight: bold;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.resp {
    /* width: 300px; */
    text-align: justify;
}