.edit>img {
    width: 18px;
    margin: 0px;
    padding: 0px;
}

.edit {
    display: flex;
    padding: .25rem .5rem;
    border-radius: 5rem;
    border: 1px solid black;
    /* border: none; */
    background-color: white;
}